.input-group {
  margin-bottom: 15px;
}

.radio {
  label {
    color: #6F7276;
  }
}

label {
  padding-right:5px;
}

input {
  &:not([type="radio"]) {
    height: 46px;
    min-width: 235px;
  }

  border-radius: 4px;
  border: 1px solid #E0E0E0;
  display: inline-block;
  outline: none;
  font-weight: 400;

  &:active,
  &:focus {
    border: 2px solid #1E7BE2;
  }

  &:disabled {
    background-color: #F2F2F2;
  }

  &[type="radio"] {
    margin: 0 5px;

  }
}

//span {
//  height: 38px;
//  width: 38px;
//  display: inline-block;
//
//  &.facebook {
//    background-image: url("../../images/Facebook.png");
//  }
//
//  &.twitter {
//    background-image: url("../../images/Twitter.png");
//  }
//
//  &.google {
//    background-image: url("../../images/Google.png");
//  }
//}